<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.onlineHotel.mappers.HotelMapper" >
	
	<select id="searchHotel" resultType="hotel" resultMap="hotelResult">
	    SELECT * from HOTELS WHERE HOTEL_NAME = #{hotelName} OR ADDRESS = #{location}
	</select>
	
	<resultMap id="hotelResult" type="hotel">
		<id property="hotelId" column="HOTEL_ID" />
		<result property="hotelName" column="HOTEL_NAME"/>
		<result property="location" column="ADDRESS"/>
	</resultMap>
</mapper> 